/* --- Color pattern -----------------------------------------------
 
          Dark                   Main                    Light
        #9e704d #ad7c58 #b68a69 #be977a #c6a48b #cfb29c #d7bfad




    Help border - style="border: 1px solid black;"

*/
/* --- General ---------------------------------------------------*/

.hide {
    display: none !important;
    visibility: hidden;
}

body {
    background-color: #ebdfd6;
    font-family: "Open Sans", sans-serif;
    color: #272829;
    border: 8px solid #332419; 
} 

a {
    color: #272829;
    text-decoration: none;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
    h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

/* --- Toggle dark/light mode ----------------KLAR--------------------*/

.dark-light-toggle {
    position: fixed;
    left: 15px;
    bottom: 15px;
    z-index: 9998;
    border: 0;
    font-size: 32px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #a56e46;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}

.dark-light-toggle:hover {
    background: #a56e46;
    color: #fff;
}

.dark-light-active {
    background-color: #19120c;
    color: #fff;
    border: 8px solid #000;
}

.dark-light-active a:hover {
    color: #37b3ed;
    text-decoration: none;
}

.dark-light-active a {
    color: #fff;
    text-decoration: none;
}



/*--- Back to top button ---------------------KLAR--------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #a56e46;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
  
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
  
.back-to-top:hover {
    background: #b68a69;
    color: #fff;
}
  
.back-to-top.active {
   visibility: visible;
   opacity: 1;
} 

.dark-light-active .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #c6a48b;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.dark-light-active .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
  
.dark-light-active .back-to-top:hover {
    background: #b68169;
    color: #fff;
}
  
.dark-light-active .back-to-top.active {
   visibility: visible;
   opacity: 1;
}


/* --- Header --------------------------------KLAR--------------------*/

header {
    background-color: #E2B899;
    height: 110px;
    width: 100%;
    padding-top: 10px;
}

.dark-light-active header {
    background-color: #9e704d;
}

header .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}




/* Image */

header .header-container .header-img {
    background: url("../img/logo/darkTransLogo2.png") center;
    width: 110px;
    height: 90px;
    background-repeat: no-repeat;
    flex: none;
    margin-left: 10px;
}

.dark-light-active header .header-container .header-img {
    background: url("../img/logo/lightTransLogo2.png") center;
}

@media (max-width: 600px) {
    header .header-container .header-img {
        background: url("../img/logo/darkTransLogo3.png") center;
        background-size: 120%;
        width: 60px;
    }
}



/* Links */

header .links {
    display: flex;
}

@media (max-width: 700px) {
    header .links {
        display: block;
    }

    .header-container .products::after {
        content: "";
        position: relative;
        display: block;
        width: 70px;
        height: 1px;
        left: 15px;
        background: #000;
    }

    .dark-light-active header .header-container .products::after {
        background: #fff;
    }
}

.header-container .products {
    height: fit-content;
    width: 100px;
    text-align: center;
    flex: none;
}

.header-container .products:hover {
    color: #272829;
}

.header-container .contact {
    height: fit-content;
    width: 100px;
    text-align: center;
    flex: none;

}

.header-container .contact:hover {
    color: #272829;
}



/* Search */

header .search {
    margin: auto 2vw;
    flex: 4;
}


@media (min-width: 900px) {
    header .search {
        margin: auto 4vw;
        flex: 4;
    }
}

header .search-wrapper .search-inputs input {
    background-color: #f2e9e3;
    color: #272829;
    font-size: 16px;
    padding: 6px;
    
}

header .search-wrapper .search-inputs .form-control:focus {
    position: absolute;
    display: block;
    width: 75%;
    top: 44px;
    left: 145px;
    z-index: 10;
}

@media (max-width: 900px) {
    header .search-wrapper .search-inputs .form-control:focus {
        width: 70%;
    }
}

@media (max-width: 750px) {
    header .search-wrapper .search-inputs .form-control:focus {
        width: 65%;
        left: 140px;
    }
}

@media (max-width: 600px) {
    header .search-wrapper .search-inputs .form-control:focus {
        width: 70%;
        left: 85px;
    }
}

@media (max-width: 450px) {
    header .search-wrapper .search-inputs .form-control:focus {
        width: 65%;
    }
}

@media (max-width: 400px) {
    header .search-wrapper .search-inputs .form-control:focus {
        width: 60%;
    }
}

@media (max-width: 350px) {
    header .search-wrapper .search-inputs .form-control:focus {
        width: 55%;
    }
}

@media (max-width: 300px) {
    header .search-wrapper .search-inputs .form-control:focus {
        width: 50%;
    }
}

@media (max-width: 500px) {
    header .search-wrapper .search-inputs input{
        background-color: #f2e9e3;
        color: #272829;
    }
}

header .search-wrapper .search-suggestions .container-search {
    width: 90%;
    height: 100px;
}

header .search-wrapper .search-suggestions {
    position: absolute;
    display: block;
    top: 90px;
    left: 110px;
    z-index: 999;
    width: fit-content;
    margin: 0px;
    padding: 0px;
}

.card-search {
    background-color: #fff;
}

/* .card-image {
    max-width: 100px;
} */




/* Cart */

header .cart{
    width: 50px;
    font-size: 50px;
    padding: auto 0px;
    margin-right: 20px;
}


.cart-number {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
} 

@media (max-width: 700px) {
    header .cart{
        width: 40px;
        font-size: 40px;
        padding: auto 0px;
        margin-right: 15px;
    } 
}

@media (max-width: 500px) {
    header .cart{
        width: 30px;
        font-size: 30px;
        padding: auto 0px;
        margin-right: 10px;
    } 
}


/*---------- Product List-----------------------------*/
.product-list button{
    border: none;
}
.row_product_col_md_4{
    margin-bottom: 30px;
}

.row_product{
    margin-inline: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}    

.product {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    text-align: center;
    display: table-cell;
    justify-content: center;
    border: none;
    background-color: #ffffff;


}    

 .product-list{
    
    margin-bottom: 5%;
}

.product img {
    
    height: auto;
    margin: auto;
    max-width: 50%;
}    

.price {
    font-weight: bold;
    color: #1c7c1c;
}    

.info-prod{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

}    

.productPage img{
    max-width: 40%;
    min-width: 30%;
    margin-top: 30px;
}    

.productPage{
    background-color: #e6ccbb;
    height: 450px;
}    


.product-page {
 height: 350px;   
} 

.containerpage button {
    width: 300px;
    text-align: center;
    background-color: #ffecde;
    border: solid 3px #b49c8b;
    font-family: "Inter", sans-serif;
    
}

.containerpage button :hover{
    cursor: pointer;
}

/*--------------------------------*/
.small-container{
    max-width: 800px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
    

}

.first{
    padding-bottom: 50px;
    margin-top: -50px;
}

.single-product{
    margin-top: 80px;
}

.thisproduct-image img{
    max-width: 100%;
    padding: 50px 0;
}

.single-product .thisproduct-image img {
    padding: 0;
}

.single-product .thisproduct-image{
    padding: 20px;
    
}

.thisproduct-image{
    flex-basis: 50%;
    min-width: 300px;
    
}

.thisproduct-image h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid #332419;
}

input:focus {
    outline: none;
}

.a-btn{
    text-decoration: none;
    color: #332419;
}

.single-product .fa-indent{
    color: #dea49d;
    margin-left: 10px;
}

.btn{
    display: inline-block;
    background: #e6998f;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #bd8d8d;

}







/* --- Footer ----------------------------------------------------*/

footer {
    background-color: #E2B899;
    height: fit-content;
    width: 100%;
    text-align: center;
    padding: 10px 0 0 0;
}    

.dark-light-active footer {
    background-color: #9e704d;
}    

footer .footer-image::after {
    content: "";
    position: relative;
    display: block;
    width: 80%;
    height: 3px;
    background: #000;
    margin: auto;
    margin-bottom: 20px;
}

.dark-light-active footer .footer-image::after {
    background: #fff;
}

footer .footer-img {
    background: url("../img/logo/darkTransLogo.png") center;
    width: 410px;
    height: 90px;
    background-repeat: no-repeat;
    margin: auto;
}    

.dark-light-active footer .footer-container .footer-img {
    background: url("../img/logo/lightTransLogo.png") center;
}   

@media (max-width: 700px) {
    footer .footer-img {
        background-size: 90%;
        height: 80px;
    }    

    footer .footer-image::after {
        height: 2px;
    }
}

@media (max-width: 550px) {
    footer .footer-img {
        background-size: 80%;
        height: 80px;
    }    

    footer .footer-image::after {
        height: 2px;
    }
}

@media (max-width: 410px) {
    footer .footer-img {
        width: 300px;
        background-size: 100%;
    }    

    footer .footer-image::after {
        height: 1px;
    }
}

@media (max-width: 320px) {
    footer .footer-img {
        width: 250px;
        background-size: 100%;
        height: 60px;
    }    

    footer .footer-image::after {
        height: 1px;
    }
}


/* --- Cookies ---------------------------------------------------*/

#lawmsg{
    width: 1000px;
    height: 100px;
    margin: auto;
    text-align: center;
    background-color: #ffd6c5;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgb(160, 141, 128);
}    

#lawmsg button {
    background-color: #ffffff;
    border: 1px solid;


}    



.product-list h2 {
    color: pink;
}


.product-list p {
    color: black;
}


/*----------------------------------- Ebba CSS -------------------------------------------------------------*/


/* --- Welcome ---------------------------OK*/

.welcome {
    background-color: #f2e9e3;
    height: fit-content;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.dark-light-active .welcome {
    background-color: #332419;
}

.welcome h1 {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px 1vw 0px 5vw;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.welcome h6 {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 0px 1vw 20px 5vw;
    
    letter-spacing: 1px;
}

.welcome p {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px 1vw 20px 5vw;
}

.welcome img {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px 5vw 20px 1vw;
}

@media (max-width: 575px) {

    .welcome p {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .welcome img {
        width: 70%;
        max-width: 435px;
        height: auto;
        padding: 10px 0;
    }


}




/*---------- Category widgets ------------------------------------*/

.carousel {
    margin: 40px 0;
    text-align: center;
}

.carousel-inner {
    padding: 20px 10vw;
}

.carousel-item a:hover {
    color: rgb(113, 161, 184);

}

.card-carousel {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    background-color: #fff;
    border-radius: 15px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #b38686;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 668px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
}

.card-carousel .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
}

.card-carousel img {
      max-height: 100%;
}

@media (max-width: 767px) {
    .card-carousel .img-wrapper {
      height: 17em;
    }
}



/*----------------------------------- Margo CSS -------------------------------------------------------------*/

/* -------- Scroll bar custom -----------------KLAR-------------------*/

#data{
	float: left;
	width: 50%;
	margin-left: 50px;
	margin-right: 26px;
}

::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb{
	background-color: #a17867;
	border-radius: 5px;
box-shadow: inset 2px 2px 2px rgba(255,255,255,0.25), inset -2px -2px -2px 
rgba(0,0,0,0.25);
}

::-webkit-scrollbar-track{
	background: linear-gradient(to right, #0c0b0e, #201c29 1px, #100e17 1px,
		#100e17);
}



/*-----------information section of singular product page-----------*/


.second{
    font-family: "Inter", sans-serif;
    background-color: #ffe5d1;
    padding: 30px 0;
    text-align: center;
    height: 600px;
}

.product-info{
    background-color: #f6f3e0;
    max-width: 600px;
    margin: auto;
    padding-bottom: 50px;

}

.about{
    background-color: #f6f3e0;
    max-width: 800px;
    margin: auto;
    padding-bottom: 50px;
    margin-top: 60px;
   
  
}

.product-info h4, .about h4{
    margin: 50px 0;
}


/*---------- Product list interface-----------------------------*/

.product-list button{
    background-color: #e1ab9b;
    
}

/*---------------------About Page-----------------------------*/

.about-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.aboutMain{
    background-color: #fff8f3;
    text-align: center;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
}

.aboutText{
    margin-top: 50px;
}

.aboutText p{
    text-align: left;
    margin-top: 50px;
    margin-inline: 130px;
    line-height: 1.8rem;
}

.aboutLinks{
    margin-top: 70px;
}

.aboutLinks a{
    color: white;
}

.aboutButtons{
    margin-top: 50px;
}

.aboutLinks button {

	text-align: center;
	color:#DE914A;
	width: 200px;
	height: 50px;
	border:none;
	border-radius: 10px;
	transition: ease-out 0.3s;
	font-size: 1rem;
	outline:none;
	border:5px solid #5d103d;
	position: relative;
	z-index: 1; 
	background-color: #744f43;
	letter-spacing: 2px;
	margin-top: 30px;
	margin-bottom: 40px;
    
}

.aboutLinks button:hover{
	cursor: pointer;
}

.aboutLinks button:before{
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: #613929;
}

.aboutLinks button:hover:before {
	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}


/*----------------------------------- ANDRA CSS -------------------------------------------------------------*/


/*---------- Product List-----------------------------*/

.info {
    height: fit-content;
    min-height: 350px;
    color: white;
    width: 100%;
    margin: auto;

}

.info h6{
    color:#000;
    text-align: center;
    margin-top: 30px;
}

.products img{
    max-width: 300px;
    margin: auto;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
  
}

.info img{
display:grid;
}


