/* --- Color pattern -----------------------------------------------
 
          Dark                   Main                    Light
        #9e704d #ad7c58 #b68a69 #be977a #c6a48b #cfb29c #d7bfad




    Help border - style="border: 1px solid black;"

*/
/* --- General ---------------------------------------------------*/

.hide {
    display: none !important;
    visibility: hidden;
}

body {
    background-color: #ebdfd6;
    font-family: "Open Sans", sans-serif;
    color: #272829;
    border: 8px solid #332419; 
} 

a {
    color: #272829;
    text-decoration: none;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.img-fluid {
    width: 100%;
    height: auto;
}



/* --- Toggle dark/light mode ----------------KLAR--------------------*/

.dark-light-toggle {
    position: fixed;
    left: 15px;
    bottom: 15px;
    z-index: 9998;
    border: 0;
    font-size: 32px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #c6a48b;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}

.dark-light-toggle:hover {
    background: #b68a69;
    color: #fff;
}

.dark-light-active {
    background-color: #19120c;
    color: #fff;
    border: 8px solid #000;
}

.dark-light-active a:hover {
    color: #37b3ed;
    text-decoration: none;
}

.dark-light-active a {
    color: #fff;
    text-decoration: none;
}



/*--- Back to top button ---------------------KLAR--------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #c6a48b;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
  
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
  
.back-to-top:hover {
    background: #b68a69;
    color: #fff;
}
  
.back-to-top.active {
   visibility: visible;
   opacity: 1;
} 

.dark-light-active .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #c6a48b;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.dark-light-active .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
  
.dark-light-active .back-to-top:hover {
    background: #b68a69;
    color: #fff;
}
  
.dark-light-active .back-to-top.active {
   visibility: visible;
   opacity: 1;
}



/* -------- Scroll bar custom -----------------KLAR-------------------*/

#data{
	float: left;
	width: 50%;
	margin-left: 50px;
	margin-right: 26px;
}

::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb{
	background-color: #a17867;
	border-radius: 5px;
box-shadow: inset 2px 2px 2px rgba(255,255,255,0.25), inset -2px -2px -2px 
rgba(0,0,0,0.25);
}

::-webkit-scrollbar-track{
	background: linear-gradient(to right, #0c0b0e, #201c29 1px, #100e17 1px,
		#100e17);
}



/* --- Header ----------------------------------------------------*/

header {
    background-color: #cf8f71;
    height: fit-content;
    width: 100%;
}

.dark-light-active header {
    background-color: #9e704d;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header .container .header-img {
    background: url("../img/logo/darkTransLogo.png") center;
    width: 410px;
    height: 90px;
    background-repeat: no-repeat;
    flex: none;
}

.dark-light-active header .container .header-img {
    background: url("../img/logo/lightTransLogo.png") center;
}

header .search-wrapper {
    margin: auto;
}

header .search-wrapper .search-inputs input{
    background-color: #f2e9e3;
    color: #272829;
    
}

header .search-suggestions {
    z-index: 999;
}

header .bx-cart{
    font-size: 50px;
    padding: auto 0px;
} 





/* --- Welcome ---------------------------OK------------------------*/

.welcome {
    background-color: #f2e9e3;
    height: fit-content;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.dark-light-active .welcome {
    background-color: #332419;
}

.welcome h1 {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px 1vw 0px 5vw;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.welcome h6 {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 0px 1vw 20px 5vw;
    
    letter-spacing: 1px;
}

.welcome p {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px 1vw 20px 5vw;
}

.welcome img {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px 5vw 20px 1vw;
}

@media (max-width: 575px) {

    .welcome p {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .welcome img {
        width: 70%;
        height: auto;
        padding: 10px 0;
    }


}



/*---------- Category widgets ------------------------------------*/

.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
}

.card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
}

.card img {
      max-height: 100%;
}

@media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
}



/*---------- Product List-----------------------------*/

.col-md-4{
    margin-bottom: 30px;
}

.row_product{
    margin-inline: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}    

.product {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    text-align: center;
    display: table-cell;
    justify-content: center;
    border: none;
    background-color: #ffffff;


}    

.product img {
    
    height: auto;
    margin: auto;
    max-width: 50%;
}    

.price {
    font-weight: bold;
    color: #1c7c1c;
}    

.info-prod{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

}    

.productPage img{
    max-width: 60%;
    margin-top: 30px;
}    

.productPage{
    background-color: #e6ccbb;
    height: 450px;
}    


.product-page {
 height: 350px;   
} 


/*-------Singular product page-----------------------*/


.first{
    height: 600px;
    background-color:#ffe5bc;
}    


.second{
    height: 700px;
    background-color: #ffdabe;
}    




/* --- Footer ----------------------------------------------------*/

footer {
    background-color: #E2B899;
    height: 360px;
    width: 100%;
    text-align: center;
}    

.dark-light-active footer {
    background-color: #9e704d;
}    

footer .footer-img {
    background: url("../img/logo/darkTransLogo.png") center;
    width: 450px;
    height: 100px;
    background-repeat: no-repeat;
}    

.dark-light-active footer .footer-img {
    background: url("../img/logo/lightTransLogo.png") center;
}    

/* --- Cookies ---------------------------------------------------*/

#lawmsg{
    width: 1000px;
    height: 100px;
    margin: auto;
    text-align: center;
    background-color: #ffd6c5;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgb(160, 141, 128);
}    

#lawmsg button {
    background-color: #ffffff;
    border: 1px solid;


}    









  