/* --- General ---------------------------------------- */

body {
    background-color: #FFF1DD;
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

a {
    color: #272829;
    text-decoration: none;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.full-logo {
    width: 600px;
    height: 100%;
    margin: -140px -80px;
}

.center {
    justify-content: center;
}

/*--- Back to top button -----------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #d79c71;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
  
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
  
.back-to-top:hover {
    background: #e8c6ad;
    color: #fff;
}
  
.back-to-top.active {
   visibility: visible;
   opacity: 1;
}


/* --- Header --------------------------------------------------- */

header {
    background-color: #E2B899;
    height: fit-content;
    width: 100%;

    
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .bx-cart{
    font-size: 50px;

    padding: auto 0px;
    
}

/* --- Footer --------------------------------------------------- */

Footer {
    background-color: #E2B899;
    height: 360px;
    width: 100%;
}

footer .copyright {
    text-align: center;
    position: relative;
    bottom: 0px;
    
}






